/* menu scene */
#menu-scene {
    text-align: center;
}

#menu-scene button {
    margin-top: 50px;
}

.shiny {
    display: block;
    height: 200px;
    width: 450px;
    position: relative;
    overflow: hidden;
}

.shiny img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.shiny:before {
    content: "";
    z-index: 10;
    position: absolute;
    height: 200%;
    width: 200%;
    top: -120%;
    left: -120%;
    background: linear-gradient(transparent 0%, rgba(255, 255, 255, 0.1) 45%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 55%, transparent 100%);
    transition: all 2s;
    transform: rotate(-45deg);
    animation: shine 5s infinite forwards;
}

@keyframes shine {
    0% {
        top: -120%;
        left: -120%;
    }

    40% {
        left: 100%;
        top: 100%;
    }

    100% {
        left: 100%;
        top: 100%;
    }
}

.p2d {
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 4em;
    font-weight: 700;
    color: #edf2f4;
    transform: rotate(25deg) translateX(20px) translateY(-50px);

    text-shadow: 1px 1px 1px #8d99ae,
        1px 2px 1px #8d99ae,
        1px 3px 1px #8d99ae,
        1px 4px 1px #8d99ae,
        1px 5px 1px #8d99ae,
        1px 6px 1px #8d99ae,
        1px 7px 1px #8d99ae,
        1px 8px 1px #8d99ae,
        1px 9px 1px #8d99ae,
        1px 10px 1px #8d99ae,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}