html,
body {
    height: 100%;
    background-color: #1e1e1e;
}

body {
    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}