* {
    font-family: monospace;
    outline-style: none;
    color: #eee;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    position: relative;
    background-color: #13172C;
}

.center-page-container>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
}